.App {
  text-align: center;
}

#titre{
  font : small-caps bold 28px/1 sans-serif;
  margin-top: 2%;
  margin-bottom: 2%;
}

.App-header {
  background-color: #FBF0E9;
  position: fixed;
  z-index: 2;
  top:0;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:baseline;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  box-shadow: 0px 3px 10px black
}

.App-body{
  display: flex;
  align-items: center;
  justify-content: center;
  bottom : 10vh;
  background-image: url('./img/background-sang.jpg');
  background-size: cover; /* Ajuste la taille de l'image pour couvrir l'ensemble du conteneur */
  background-position: center; /* Centre l'image dans le conteneur */
  height: 110vh;
}

.App-footer{
  background-color: rgb(0, 0, 0);
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content:center;
}
.App-link {
  color: rgb(255, 255, 255);
}

#MySpace{
  background-color: #D4C2A1;
  z-index: 1;
  display: flex;
  flex-direction: row;
  height: 85vh;
  width: 150vh;
  border-radius: 45px;
  box-shadow: 0px 2px 10px black
}

.logo-don-sang{
  width: 11vh;
}

#patient{
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 52%;
  height: 100%;
  background:  #AD9C92;
  border-radius: 45px;
  box-shadow: 1px 0px 10px black
}

#doctor{
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 48%;
  height: 100%;
}

#register-login{
  font : small-caps bold 20px/1 sans-serif;
  color: black;
  margin-left: auto;
  margin-right: 5vh;
}

#home-link{
  display: flex;
  align-items: center;
  justify-content:center;
}


.patient-button {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  bottom: 7%;
  border: 0;
  background-color: #FBF0E9;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.2s ease;
}

.patient-button:hover {
  letter-spacing: 5px;
  background-color: #CE8F8A;
  color: hsl(0, 0%, 100%);
  box-shadow: #906461 0px 7px 29px 0px;
}

.patient-button:active {
  letter-spacing: 1px;
  background-color: #CE8F8A;
  color: hsl(0, 0%, 100%);
  box-shadow: #906461 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 70ms;
}

  .paragraphe{
    width: 90%;
  }

  .paragraphe-space{
    display: flex;
    flex-direction: column;
    max-height: 60%;
    max-width: 90%;
    font-size: 18px;
    align-items: center;
  }

  .space-title{
    position: absolute;
    top : 5%;
    width: 60%;
    background-color: #FBF0E9;
    border-radius: 20vh;
  }